include README.md
include restapi/shapefile/*.json
include restapi/test/testData/*
include restapi/admin/samples/*.py
include restapi/projections/bin/*
include restapi/geometry-helper/* 
include restapi/geometry-helper/js/* 
include restapi/geometry-helper/css/* 
include restapi/geometry-helper/img/icons/* 
